html{
  text-align: center;
  font-family: Courier New, Courier, monospace
}

body{
  /*Defining Variables*/
  --color-primary: #ff5252;
  --color-light: #ff867f;
  --color-dark: #c50e29;

  --text-caption: Robot;
  --text-logo: Impact;

  --color-text: Black;

  --color-bg: rgb(200, 200, 200);
  --color-article: rgb(255, 255, 255);


  margin: 0px;
  color: var(--color-text);
  background-color: (--color-bg);
}

div.content{
  border-radius: 5px;
  padding: 8px;
  margin: 6px;
  color: white;
  background: var(--color-primary);
}

p{
  margin-top: 2px;
  margin-bottom: 2px;
}

div.tbanner{
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: var(--color-dark);
  padding: 0px;
  margin: 0px;
}

.main{
  margin-top: 86px;
  padding: 0px;
  margin-bottom: 106px;
}

h1#heading{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div.navbar {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: var(--color-dark);
}