.wrapper{
  display: flex;
  align-content: center;

  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  z-index: 110;

  padding: 35px 20px;

  background-color: rgba(0,0,0, 0.2);
  opacity: 0;

  transition-property: opacity, right, bottom;
  transition-duration: 0.4s, 0.4s, 0.4s;
}

.map{
  display: flex;
  align-content: center;

  z-index: 111;

  height: calc(100vh - 70px);
  width: 100%;
}