<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css"></link>
    <link rel="manifest" href="/manifest.json">
    <title>Geomeme</title>
    
    <!-- {% include head %} -->
  </head>
 <!--vision impaired -->
  <body>
    <header>
      <a href="/">
        <h1>
          Geomeme
        </h1>
      </a>
    </header>

    <main>
      <!-- {% include main.html %} -->
    </main>

    <footer>
      <!-- {% include footer.html %} -->
    </footer>

    <nav role="Quick Acess">
      <ul>
        <li id="navHome">
          <a href="/">
            <img src="./icon_home.svg" alt="home">
          </a>
        </li>
        <li class="logo" role="Capture a meme">
          <a href="/capture.html" alt="Logo">M</a>
        </li>
      </ul>
    </nav>
  </body>
</html>