{% include pages/header.html %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdaPDjie3JjSXaInNxD3MDcgQusP2Qk5c&callback=initMap"></script>
<link rel="stylesheet" href="/static/map.css"></link>
<script src="/static/map.js"></script>

{% for i, meme in enumerate(photo_list) %}

   <article id="article" class="post">
		<div class = "meta-primary-container">
			<img class="dp" src="{{ dp }}" />
			<a class="username" style="text-align: left;" href="./profile/{{meme.username}}"><strong>User: {{ meme.username }}</strong></a>
			<p class="location" style="cursor: pointer; text-align: right;" onclick="map.open( '{{ meme.latitude }}', '{{ meme.longitude }}' )"><img id = 'map2' src='static/icons/map2.png'> View Location</p>
		</div>
		<div class = "meme-image-container">
			<a href="{{ meme.image }}/{{i}}">todo fixme<img class="meme-image" src="{{ meme.image }}" alt= "image" /></a>
		</div>
		<div>
		 <button>
		 <i class="material-icons upvote">star</i>
		 </button>
		</div>
		<div class = "meta-secondary-container">
			<p class="caption" style="text-align: left;">Caption: {{ meme.caption }}</p>
			<p class="timestamp" style="text-align: left;">Time: {{ meme.timestamp }}</p>
      <!--<p>Current upvote count: {{ check_upvotes(meme.ID) }}</p>-->
		</div>
    <div>
      <button type="button" id="{{ meme.ID }}" name="button" class="upvote">Upvote</button>
    </div>
   </article>
{% end for %}

<script>
  [...document.getElementsByClassName("upvote")].forEach(element => {
    element.addEventListener("click", function(){
      fetch("/upvote_meme/" + element.id).then(function(){
        document.location.reload();
      })
    })
  })

</script>
