{% include pages/header.html %}
{% for meme in photo_list %}
   <article id="article" class="post">
		<div class = "meta-primary-container">
			<img class="dp" src="{{ dp }}" />
			<p class="username">User: {{ meme.username }}</p>
			<p class="location">Meme Location: {{ meme.latitude, meme.longitude }}</p>
		</div>
		<div class = "meme-image-container">
			<img class="meme-image" src="{{ meme.image }}" alt= "image" />
		</div>
		<div class = "meta-secondary-container">
			<p class="caption">Caption: {{ meme.caption }}</p>
			<p class="timestamp">Time: {{ meme.timestamp }}</p>
		</div>	   
   </article>
{% end for %}